<div>
  <div class="d-flex align-items-center justify-content-between">
    <h2 mat-dialog-title style="color:white;">Detalle del Perfil</h2>
    <span class="mdi mdi-close mx-3 my-3" style="font-size: 25px; cursor: pointer;" (click)="onClose()"></span>
  </div>
  <mat-dialog-content>
    <div style="flex: 1;overflow-y: auto;">
      <div class="mb-3">
        <p class="text-muted fw-bold">Nombre de Usuario:</p>
        <p class="text-muted">{{ username }}</p>
      </div>
      <div class="mb-3">
        <p class="text-muted fw-bold">Correo Electrónico:</p>
        <p class="text-muted">{{ email }}</p>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center">
          <p class="text-muted fw-bold mr-2 mb-0">Contraseña:</p>
        </div>
        <div class="d-flex align-items-center">
          <input class="form-control" [value]="password" [(ngModel)]="password">
        </div>
      </div>
      <div class="mb-3">
        <p class="text-muted fw-bold">Fecha de registro:</p>
        <p class="text-muted">{{ createDate }}</p>
      </div>
      <div class="mb-3">
        <p class="text-muted fw-bold">Última Conexión:</p>
        <p class="text-muted">{{ lastConnection }}</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-around col-12">
      <div>
        <p class="text-muted mb-0">
          <strong><button class="btn btn-danger" (click)="DeleteUser()">Eliminar Usuario</button></strong>
        </p>
      </div>
      <div>
        <p class="text-muted mb-0">
          <strong><button class="btn btn-success" (click)="SaveChanges()">Guardar cambios</button></strong>
        </p>
      </div>
    </div>
  </mat-dialog-actions>
</div>