<div class="row form-group col-12 col-xl-10 col-lg-10 col-md-10 text-center mx-lg-auto">
  <input type="text" id="simpleinput" class="form-control" c (input)="filterBusLines()"
    placeholder="{{'SearchLine' | translate}}" autocomplete="off" autofocus />
</div>

<div *ngIf="busLines.length === 0 || errorLines" class="row col-12 text-center">
  <h1>No existen lineas</h1>
</div>

<ng-container *ngIf="spinnerTrue">
  <app-spinner></app-spinner>
</ng-container>


<div class="row">
  <div *ngFor="let busLine of busLines" class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3">

<app-card-bus [busLineId]="busLine.id" [logged]="logged" [busLineFavorite]="busLine.favorite" [busLine]="busLine" (click)="addFavourite(busLine)"></app-card-bus>



  </div>

</div>
<div>
  <span class="fs-4">Total: {{busLines.length}}</span>
</div>