<app-header></app-header>
<div *ngIf="spinnerTrue; then load; else notLoad"></div>
<ng-template #load>
  <ng-container>
    <app-spinner></app-spinner>
  </ng-container>
</ng-template>
<ng-template #notLoad>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Linea {{ lineId }}
      </li>
    </ol>
  </nav>
  <div class="mx-3">
    <div>
      <h1>{{ title }}</h1>
      <p>
        <span class="fw-bold">Ultima Actualización:</span> {{ lastUpdated }}
      </p>
    </div>
    <div class="row my-3">
      <div class="col-12 col-xl-3" >
      <app-lines-display [descriptions]="descriptions" [spinnerLines]="spinnerLines" [busLines]="busLines"></app-lines-display>
      <p>{{busLines.length}}</p>
      </div>
      <div class="col-9">

      </div>
    </div>

    <div>
      <div  *ngFor="let busLine of busLines">
        <span>{{busLine.description}}</span> 
        <span *ngIf="busLine.geometry.type == 'Point'">{{busLine.geometry.coordinates}}</span> 
        
      </div>
    </div>
  </div>
</ng-template>
