<div class="col-xl-12 col-lg-12 order-lg-1">

    <div class="card">
        <div class="card-body">
            <div data-simplebar style="max-height: 425px;">
                <div class="timeline-alt pb-0">
                    <div *ngIf="busLines?.length != 0 ; else elseBusLines">
                        <app-lines-display-item *ngFor="let i of busLines" [description]="i.description"
                            [title]="i.title" [about]="i.about" [coordinatesBusLine]="i.geometry.coordinates">
                        </app-lines-display-item>
                    </div>
                    <ng-template #elseBusLines>
                        <h2>No hay lineas disponibles :/</h2>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>