<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">AUTOBUSES ZARAGOZA</a>
    <button class="navbar-toggler border-0" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon navbar-light"></span>
    </button>
    
    <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownUserMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleUserMenu()">
            Usuario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show': isUserMenuOpen}">
            <li>
              <a class="dropdown-item">{{"CloseSession" | translate}}</a>        
            </li>
          </ul>
        </li>      
      </ul>
    </div>
  </div>
</nav>
