<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">AUTOBUSES ZARAGOZA</a>

      <div class="collapse navbar-collapse justify-content-end p-0" id="navbarText">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownUserMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="changeMenuProfile()">
              Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="subMenu" >
              <a class="dropdown-item" href="#">{{"CloseSession" | translate}}</a>
             
          </div>
      </div>
      </div>
    </div>
  </nav>