/* You can add global styles to this file, and also import other style files */
.nav-tabs.nav-bordered li a.active {
    border-bottom: 2px solid #FA5C7C !important;
}

A:link { text-decoration: none !important; color:white !important}
A:hover {  text-decoration: none  !important; color:white !important}
A:visited { text-decoration: none  !important; color:white !important}

/* Establecer el tema claro */
/* body {
    background-color: #f8f9fa;
    color: #343a40;
  }
   */
   .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  